samlapi_formauth.py
.DS_Store
.env*
*swp
logs/*
uploads/*
outputs/*
__pycache__/
*.py[cod]
tests/playwright/.venv/
.secrets
/milvus/
/config/airflow.cfg
/.idea/
# ignore every keycloak export except development
/keycloak-export/*/
!/keycloak-export/development/
